.userInput {
	-fx-spacing : 20px;
	-fx-alignment : center-left;
	-fx-padding : 20px;
	-fx-background-color: linear-gradient(to bottom, derive(springgreen, 20%), springgreen);
    -fx-effect: dropshadow(gaussian, red, 10, 0, 0, 0);
    -fx-background-insets: 10;
}

.button {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.fancytext {
    -fx-font: 20px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}